#mainbackground{
  background-image: url("assets/images/concrete_seamless.png");
}

#footer{
  background-color: white;
  text-align: center;
  height: 50px;
  background-color: gray;
  padding-top: 15px;
  opacity: 90%;
  border-top: 5px solid #4aaaa5;
}

#firstbox{
  height: 60px;
}

#pictureofme{
  height: 200px;
  width: 200px;
}

#secondbox{
  height: 60px;
}




#aboutmecontact{
  background: #4aaaa5;
}