body {
  padding: 0;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  background: #d3c663;
 
}

header {
  background-color: #ffffff;
  font-family: 'Georgia', Times, 'Times New Roman', serif;
  width: 100%;
  border-bottom: 2px solid gray;
  height: 100px;
}

.wrapper {
  
  background: #e70909;
  width: 960px;
  text-align: left;
  margin: 0 auto;
  
  height: 500px;
}


ul {
 
  padding: 20px;
  margin: 0 auto;
  float: right;
}

li {
  list-style-type: none;
  display: inline;
  color: grey;
  padding: 20px;
}

h1 {
  display: block;
  background-color: #4aaaa5;
  width: 960px;
  margin: 0 auto;
  border-style: block;
}

#logo {
  float: left;
  width: 100px;
  height: 100px;
}

#bio-image {
  float: left;
  width: 100px;
  height: 100px;
}

footer {
  width: 100%;
  color: grey;
}

#myname{
  margin: 0 auto;
  width: 960px;
  
}
