#mainbackground{
  background-image: url("assets/images/pexels-photo-60217.jpeg");
  background-size: cover;
}

#footer{
  background-color: white;
  text-align: center;
  height: 40px;
  background-color: #558ac2;
  padding-top: 15px;
  opacity: 70%;
}

#firstbox{
  height: 60px;
}

#pictureofme{
  height: 200px;
  width: 200px;
}

.jumbotron{
  opacity: 90%;
}

.lead{
  font-weight: bold;
}

#secondbox{
  height: 60px;
}